<h1>Try to Solve the Riddle of the Sphinx</h1>

<form class="form-group" action="/output" method="post">
  <label for="riddle">What goes on fours in the morning, on twos in the
afternoon and on threes at night?</label><br>
  <input type="text" name="riddle"><br>
  <label for="riddle1">What kind of men are always above board?</label><br>
  <input type="text" name="riddle1"><br>
  <label for="riddle2">I start off dry but come out wet. I go in light and come out heavy. What am I?</label><br>
  <input type="text" name="riddle2"><br>
  <input type="submit" value="submit">
</form>
